name: Cross-Platform Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Build & Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      WINDOWS_ZIP: Smake-Windows-${{ github.ref_name }}.zip
      LINUX_ZIP: Smake-Linux-${{ github.ref_name }}.zip
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x
          
      - name: Install 7zip (for packaging)
        run: sudo apt-get update && sudo apt-get install -y p7zip-full
          
      - name: Define Build Directories and Create Folders
        run: |
          echo "WINDOWS_BUILD_DIR=$GITHUB_WORKSPACE/Smake-Windows-Build" >> $GITHUB_ENV
          echo "LINUX_BUILD_DIR=$GITHUB_WORKSPACE/Smake-Linux-Build" >> $GITHUB_ENV
          mkdir -p $GITHUB_WORKSPACE/Smake-Windows-Build
          mkdir -p $GITHUB_WORKSPACE/Smake-Linux-Build

      - name: Build and Publish for Linux
        run: dotnet publish Smake.csproj -c Release -r linux-x64 --self-contained true /p:PublishSingleFile=true /p:PublishReadyToRun=true -o ${{ env.LINUX_BUILD_DIR }}

      - name: Copy required folders to Linux Build
        run: |
          cp -r Benoetigtedaten/Languages ${{ env.LINUX_BUILD_DIR }}/
          cp -r Benoetigtedaten/Sounds ${{ env.LINUX_BUILD_DIR }}/
          cp -r Benoetigtedaten/Jsons ${{ env.LINUX_BUILD_DIR }}/

      - name: Package Linux Executable and Assets
        run: |
          cd ${{ env.LINUX_BUILD_DIR }}
          7z a -tzip $GITHUB_WORKSPACE/${{ env.LINUX_ZIP }} Smake Languages Sounds Jsons
          
      - name: Build and Publish for Windows
        run: dotnet publish Smake.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true /p:PublishReadyToRun=true -o ${{ env.WINDOWS_BUILD_DIR }}

      - name: Copy required folders to Windows Build
        run: |
          cp -r Benoetigtedaten/Languages ${{ env.WINDOWS_BUILD_DIR }}/
          cp -r Benoetigtedaten/Sounds ${{ env.WINDOWS_BUILD_DIR }}/
          cp -r Benoetigtedaten/Jsons ${{ env.WINDOWS_BUILD_DIR }}/

      - name: Package Windows Executable and Assets
        run: |
          cd ${{ env.WINDOWS_BUILD_DIR }}
          7z a -tzip $GITHUB_WORKSPACE/${{ env.WINDOWS_ZIP }} Smake.exe Languages Sounds Jsons

      - name: Create release and Upload Assets
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: Smake ${{ github.ref_name }}
          draft: true
          generate_release_notes: true
          prerelease: ${{ contains(github.ref, 'rc') || contains(github.ref, 'beta') || contains(github.ref, 'alpha') }}
          files: |
            ${{ env.WINDOWS_ZIP }}
            ${{ env.LINUX_ZIP }}